<section class="home">
  <app-header></app-header>
  <app-banner [movies]="movies"></app-banner>

  <main class="main">
    <div *ngIf="!loader; else showLoader">
      <app-slider-card
        [movies]="topRated"
        [title]="'Bem avaliados'"
      ></app-slider-card>
      <app-slider-card
        [movies]="nowPlaying"
        [title]="'Em Cartaz'"
      ></app-slider-card>
      <app-slider-card
        [movies]="upcoming"
        [title]="'Próximos lançamentos'"
      ></app-slider-card>
    </div>
    <ng-template #showLoader>
      <app-loader-home></app-loader-home>
    </ng-template>
  </main>
</section>
