<div class="loader-card-list">
  <div style="width: 30%;">
    <ngx-skeleton-loader
    animation="pulse"
      count="1"
      appearance="line"
      [theme]="{
        'border-radius': '5px',
        width: '100%',
        height: '200px',
        'background-color': 'rgba(255,255,255,.3)',
        border: '0'
      }"
    ></ngx-skeleton-loader>
  </div>

  <div style="width: 44%;">
    <ngx-skeleton-loader
    animation="pulse"
      count="2"
      appearance="line"
      [theme]="{
        'border-radius': '5px',
        width: '51%',
        height: '10px',
        'background-color': 'rgba(255,255,255,.3)',
        border: '0'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
    animation="pulse"
      count="3"
      appearance="line"
      [theme]="{
        'border-radius': '5px',
        width: '90%',
        height: '10px',
        'background-color': 'rgba(255,255,255,.3)',
        border: '0'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
    animation="pulse"
      count="3"
      appearance="line"
      [theme]="{
        'border-radius': '5px',
        width: '95%',
        height: '10px',
        'background-color': 'rgba(255,255,255,.3)',
        border: '0'
      }"
    ></ngx-skeleton-loader>
  </div>
</div>
<div class="loader-card-list">
  <div style="width: 30%;">
    <ngx-skeleton-loader
    animation="pulse"
      count="1"
      appearance="line"
      [theme]="{
        'border-radius': '5px',
        width: '100%',
        height: '200px',
        'background-color': 'rgba(255,255,255,.3)',
        border: '0'
      }"
    ></ngx-skeleton-loader>
  </div>

  <div style="width: 44%;">
    <ngx-skeleton-loader
    animation="pulse"
      count="2"
      appearance="line"
      [theme]="{
        'border-radius': '5px',
        width: '51%',
        height: '10px',
        'background-color': 'rgba(255,255,255,.3)',
        border: '0'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
    animation="pulse"
      count="3"
      appearance="line"
      [theme]="{
        'border-radius': '5px',
        width: '90%',
        height: '10px',
        'background-color': 'rgba(255,255,255,.3)',
        border: '0'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
    animation="pulse"
      count="3"
      appearance="line"
      [theme]="{
        'border-radius': '5px',
        width: '95%',
        height: '10px',
        'background-color': 'rgba(255,255,255,.3)',
        border: '0'
      }"
    ></ngx-skeleton-loader>
  </div>
</div>
<div class="loader-card-list">
  <div style="width: 30%;">
    <ngx-skeleton-loader
    animation="pulse"
      count="1"
      appearance="line"
      [theme]="{
        'border-radius': '5px',
        width: '100%',
        height: '200px',
        'background-color': 'rgba(255,255,255,.3)',
        border: '0'
      }"
    ></ngx-skeleton-loader>
  </div>

  <div style="width: 44%;">
    <ngx-skeleton-loader
    animation="pulse"
      count="2"
      appearance="line"
      [theme]="{
        'border-radius': '5px',
        width: '51%',
        height: '10px',
        'background-color': 'rgba(255,255,255,.3)',
        border: '0'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
    animation="pulse"
      count="3"
      appearance="line"
      [theme]="{
        'border-radius': '5px',
        width: '90%',
        height: '10px',
        'background-color': 'rgba(255,255,255,.3)',
        border: '0'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
    animation="pulse"
      count="3"
      appearance="line"
      [theme]="{
        'border-radius': '5px',
        width: '95%',
        height: '10px',
        'background-color': 'rgba(255,255,255,.3)',
        border: '0'
      }"
    ></ngx-skeleton-loader>
  </div>
</div>
<div class="loader-card-list">
  <div style="width: 30%;">
    <ngx-skeleton-loader
    animation="pulse"
      count="1"
      appearance="line"
      [theme]="{
        'border-radius': '5px',
        width: '100%',
        height: '200px',
        'background-color': 'rgba(255,255,255,.3)',
        border: '0'
      }"
    ></ngx-skeleton-loader>
  </div>

  <div style="width: 44%;">
    <ngx-skeleton-loader
    animation="pulse"
      count="2"
      appearance="line"
      [theme]="{
        'border-radius': '5px',
        width: '51%',
        height: '10px',
        'background-color': 'rgba(255,255,255,.3)',
        border: '0'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
    animation="pulse"
      count="3"
      appearance="line"
      [theme]="{
        'border-radius': '5px',
        width: '90%',
        height: '10px',
        'background-color': 'rgba(255,255,255,.3)',
        border: '0'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
    animation="pulse"
      count="3"
      appearance="line"
      [theme]="{
        'border-radius': '5px',
        width: '95%',
        height: '10px',
        'background-color': 'rgba(255,255,255,.3)',
        border: '0'
      }"
    ></ngx-skeleton-loader>
  </div>
</div>
<div class="loader-card-list">
  <div style="width: 30%;">
    <ngx-skeleton-loader
    animation="pulse"
      count="1"
      appearance="line"
      [theme]="{
        'border-radius': '5px',
        width: '100%',
        height: '200px',
        'background-color': 'rgba(255,255,255,.3)',
        border: '0'
      }"
    ></ngx-skeleton-loader>
  </div>

  <div style="width: 44%;">
    <ngx-skeleton-loader
    animation="pulse"
      count="2"
      appearance="line"
      [theme]="{
        'border-radius': '5px',
        width: '51%',
        height: '10px',
        'background-color': 'rgba(255,255,255,.3)',
        border: '0'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
    animation="pulse"
      count="3"
      appearance="line"
      [theme]="{
        'border-radius': '5px',
        width: '90%',
        height: '10px',
        'background-color': 'rgba(255,255,255,.3)',
        border: '0'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
    animation="pulse"
      count="3"
      appearance="line"
      [theme]="{
        'border-radius': '5px',
        width: '95%',
        height: '10px',
        'background-color': 'rgba(255,255,255,.3)',
        border: '0'
      }"
    ></ngx-skeleton-loader>
  </div>
</div>
