<div class="banner">
  <app-search></app-search>

  <ngx-slick-carousel
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
  >
    <div ngxSlickItem *ngFor="let slide of movies" class="slide">
      <div
        class="card-banner"
        [ngStyle]="{
          'background-image':
            'url(' + environment.tmdbUrlImage + '' + slide.backdrop_path + ')'
        }"
      >
        <div class="box-text">
          <div class="text">
            <h2>{{ slide.title }}</h2>
            <p class="description">{{ slide.overview }}</p>

            <div class="genres">
              <div *ngFor="let id of slide?.genre_ids">
                {{ getGenreById(id) }}
              </div>
            </div>
            <span>{{ slide?.release_date | date : "dd/MM/YYY" }}</span>

            <button
              mat-button
              color="accent"
              class="bt-seemoor"
              (click)="navigateToSomeRoute(slide?.id)"
            >
              Saber mais +
            </button>
          </div>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</div>
