.search {
  position: absolute;
  background: #fff;
  z-index: 999;
  top: 100px;
  width: 50%;
  height: 48px;
  margin: 0 25%;
  border-radius: 30px;
  input,
  input:focus,
  input:active {
    width: 74%;
    height: 100%;
    border: initial;
    outline: 0;
    position: absolute;
    padding-left: 24px;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 30px 0 0 30px;
    border-right: solid 2px #ccc;

    &.input-focused {
      border-radius: 30px 30px 0 0;
    }
  }

  .lds-ring {
    display: inline-block;
    position: absolute;
    right: 27%;
    width: 53px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    margin: 8px;
    border: 3px solid #000;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }

  .select {
    width: 200px;
    position: absolute;
    right: 0;
  }

  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgba(0, 0, 0, 0) !important;
}
.mat-form-field-underline {
  display: none;
}

@media screen and (max-width: 959px) {
  .search {
    width: 90%;
    margin: 0 5%;
    input,
    input:focus,
    input:active {
      width: 85%;
      height: 100%;
    }

    .select {
      width: 50px;
      .mat-form-field-label {
        display: none;
      }
    }
  }
}
@media screen and (min-width: 959px) and (max-width: 1600px) {
  .search {
    input,
    input:focus,
    input:active {
      width: 61%;
      height: 100%;
    }
    .select {
      width: auto;
      .mat-form-field-label {
        display: block;
      }
    }
  }
}
